@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Instrument Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  width: 100%;
  min-height: 100vh;
}

.scrolling-text:hover {
  animation-play-state: paused;
}

details > summary {
  list-style: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.quantity-input {
  -moz-appearance: textfield;
}

@media (min-width: 1024px) {
  .header-nav li:hover {
    scale: 1.05;
  }
  .header-nav:has(li:hover) li:not(:hover) {
  opacity: 0.2;
  }
}

@media (max-width: 1023px) {
  .header-nav li:hover {
    padding-inline-start: 10px;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #607890;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}